.fondo{
    text-align: center;
    background-color: khaki;
    width: 200px;
    height: 600px;
    margin:auto;
    border-radius: 10px;
}

body{
    background-color: green;
}

#number{
    background-color: peru;
    margin-top: 30px;
}

#btn{
    display: block;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    font-size: 1em;
    border-style: none;
    background: red;
    color: white;
    cursor: pointer;
}